<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <!--日志存放目录 -->
    <property name="LOG_PATH" value="/data/java_log/example-boot"/>
    <!--日志存储时间-->
    <property name="MAX_HISTORY" value="3"/>
    <!--单个LOG文件最大SIZE-->
    <property name="MAX_FILE_SIZE" value="500MB"/>
    <!--所有归档日志最大size, 当超过限制时, 会删掉旧的归档日志-->
    <property name="TOTAL_SIZE_CAP" value="10GB"/>

    <!--异步写LOG队列size-->
    <property name="ASYNC_QUEUE_SIZE" value="1024"/>
    <!--默认情况下, 当blockingQueue容量大于阈值(80%)时，丢弃ERROR以下级别日志, 如果设置为0则不丢弃日志-->
    <property name="DISCARDING_THRESHOLD" value="0"/>

    <!--配置日志的格式-->
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} | [%thread] | %logger{36} | %-5level | %msg%n"/>
    <!--输出日志到控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!--异步模式输出日志到文件-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>${DISCARDING_THRESHOLD}</discardingThreshold>
        <queueSize>${ASYNC_QUEUE_SIZE}</queueSize>
        <appender-ref ref="FILE"/>
    </appender>



    <springProfile name="local,dev">
        <root level="INFO">
            <appender-ref ref="ASYNC_FILE"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>


    <springProfile name="prd">
        <root level="INFO">
            <appender-ref ref="ASYNC_FILE"/>
        </root>
    </springProfile>

</configuration>
